<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jayant.pocketlibrary">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PocketLibrary">
        <activity android:name=".user.AppInfo"></activity>
        <activity android:name=".user.Feedback" />
        <activity android:name=".DeveloperActivity" />
        <activity android:name=".adminPanel.AboutDeveloper" />
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ebooks.ShowBook" />
        <activity android:name=".ebooks.BooksActivity" />
        <activity android:name=".ebooks.SubjectActivity" />
        <activity android:name=".ebooks.UploadEbooks" />
        <activity android:name=".adminPanel.SignupActivity" />
        <activity android:name=".adminPanel.LoginActivity" />
        <activity android:name=".FormActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>